{% extends "base.html.twig" %}

{% block title %}Bonjour{% endblock %}

{% block body %}
<div class="my-5">
  <div class="d-md-flex justify-content-md-between m-3">
    <h2 class="text-center text-md-left">Tous les cours</h2>
    <div class="d-flex align-items-center">
      <a href="{{ path('admin_add_lesson')}}" class="btn btn-outline-dark m-auto">Ajouter un cours</a>
    </div>
  </div>
    {% for lesson in allLessons %}
      <ul class="list-group list-group-horizontal-md text-center row m-3">
        <li class="list-group-item flex-fill col-md-6 col border-0 p-2 p-md-2 bg-light font-weight-light h5 mb-0">Cours {{lesson.category.name }} du {{lesson.DateLesson|date('d.m.y') }} de {{lesson.startHour|date('H:i') }} à {{lesson.endHour|date('H:i') }}</li>
        <li class="list-group-item flex-fill col-md-2 col border-0 p-0 p-md-2 bg-light ">Places : {{lesson.peopleNumber }}</li>
        <li class="list-group-item flex-fill col-md-2 col border-0 p-0 p-md-2 bg-light ">{{lesson.user.firstName }} {{lesson.user.lastName }}</li>
        <li class="list-group-item flex-fill col-md-2 col border-0 p-2 p-md-2 bg-light "><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#id{{lesson.id }}" aria-expanded="false" aria-controls="toto">
            Les participants
          </button></li>
          <div class="collapse text-left" id="id{{lesson.id }}">
            <ul>
            {% for participant in lesson.participants %}
              <li>{{participant.firstName}} {{participant.lastName}} et {{participant.dogName}}</li>
            {% endfor %}
          </ul>
        </li>
        </div>
      </ul>
    {% endfor %}

  <div class="d-md-flex justify-content-md-between m-3">
    <h2 class=" text-center text-md-left">Toutes les catégories</h2>
    <div class="d-flex align-items-center">
      <a href="{{ path('admin_add_category')}}" class="btn btn-outline-dark m-auto">Ajouter une catégorie</a>
    </div>
  </div>
  {% for category in allCategories %}
    <ul class="list-group list-group-horizontal-md text-center row m-3">
      <li class="list-group-item flex-fill col-md-12 col border-0 p-2 p-md-2 bg-light font-weight-light h5 mb-0">{{ category.name }}</li>
    </ul>
  {% endfor %}

  <div class="d-md-flex justify-content-md-between m-3">
    <h2 class=" text-center text-md-left">Tous les résponsables</h2>
    <div class="d-flex align-items-center">
      <a href="{{ path('admin_add_manager')}}" class="btn btn-outline-dark m-auto">Ajouter un responsable</a>
    </div>
  </div>
  {% for manager in allManagers %}
    <ul class="list-group list-group-horizontal-md text-center row m-3">
      <li class="list-group-item flex-fill col-md-12 col border-0 p-2 p-md-2 bg-light font-weight-light h5 mb-0">{{ manager.firstName }} {{ manager.lastName }}</li>
    </ul>
  {% endfor %}

</div>
{% endblock %}