{% extends "base.html.twig" %}

{% block title %}Bonjour{% endblock %}

{% block body %}
<div class="mt-3 mb-3 p-0 mx-auto">
    <h2 class="mb-3 text-center">Modifier mes informations personnelles</h2>
    {{form_start(form, {'attr': {'class': 'col-md-6 m-auto'}})}}
        {{form_widget(form)}}
        <div class="text-center">
            <button class="btn btn-outline-success" type="submit">Modifier</button>
        </div>
    {{form_end(form)}} 
</div>
<hr class="bg-success mt-5" >
<div class="mt-3 mb-3 p-0 mx-auto">
    <h2 class="mb-3 text-center">Modifier le mot de passe</h2>
    {{form_start(formPassword, {'attr': {'class': 'col-md-6 m-auto'}})}}
        {{form_widget(formPassword)}}
        <div class="text-center">
            <button class="btn btn-outline-success" type="submit">Modifier</button>
        </div>
    {{form_end(formPassword)}} 
</div>
{% endblock %}